@tailwind base;
@tailwind components;
@tailwind utilities;








@layer components{








  .itens-navbar{
   
    @apply








    text-zinc-600 text-lg font-normal px-6 py-6








    hover:text-violet-700








   
















  }








  .icon-navbar{
   
    @apply








    h-2 w-10 bg-violet-400 rounded-xl








    group-hover/icon-hamburguer:bg-violet-600
















  }








  .div-especialidades{








    @apply








    flex flex-col bg-white drop-shadow-md rounded-lg gap-7 p-4








    hover:outline hover:outline-2 hover:outline-violet-500








    hover:scale-105 hover:translate-y-1 transition-all duration-300








  }








    .div-icon-especialidades{








    @apply








    flex p-4 bg-white drop-shadow rounded-lg w-14 items-center justify-center








  }








  .p1-especialidades{








    @apply








    text-2xl max-lg:text-lg text-indigo-950 font-bold








    max-xl:text-xl








  }








    .p2-especialidades{








    @apply








    text-lg max-lg:text-sm max-xl:text-lg text-indigo-950 font-normal








  }




  .div-projetos{








    @apply








    flex flex-col gap-4 rounded-md shadow-md p-10 outline-gray-900 ease-in-out duration-500 cursor-pointer




    hover:-translate-y-10 hover:border-b-violet-500 hover:border-b-4




    max-sm:p-4




    max-md:p-6




    max-lg:p-8








  }




  .p-projetos{








    @apply








    p1-especialidades mt-5




    max-sm:text-sm max-sm:m-0
  }




    .p1-projetos{








    @apply








    p1-especialidades max-sm:text-sm
  }




  .p2-projetos{








    @apply








    p2-especialidades max-sm:text-xs
  }




    .div-avaliacoes{








    @apply








    flex flex-col col-span-3 gap-6 rounded-md p-10 outline-indigo-300 ease-in-out duration-500 outline outline-2




    max-sm:p-6




  }








}




















